/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Feb-2022, 22:35:35
    Author     : Bach
*/

.container{
    text-align: center;
}

img{
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}